{% extends "base.html" %} {% block head %} Tipos {% endblock head %} {%block
body%}

<div>

<h1 class="text-2xl">Tipos</h1>
  <div class="text-end">
    <a href="/tipos/nuevo" class="btn">Nuevo Tipo</a>
  </div>

<table class="table">
    <thead>
   <tr> <th>
        Nombre
    </th></tr>
    </thead>
<tbody>
  {% if tipos %} {%for tipo in tipos%}
<tr><td>
  <a
    href="/tipos/ver/{{tipo.id}}"
  >{{tipo.nombre}}</a>
</td></tr>
  {% endfor %} {% else %}
      <tr><td>No hay instituciones</td></tr>
  {% endif %}
</tbody>
</table>
</div>
{% endblock %}

<!--
    <form action="/" method="POST">
        <input type="text" name="content" id="content"/>
        <input type="submit" name="submit" value="Nueva Tarea" id="btn_add" />
    </form>
    -->
