{% extends "base.html" %}

{% block head %}
<title>Inicio</title>
{% endblock head %}
<div class="container">
    <div class="row">
        <div class="col">
            menu
        </div>
    </div>
{%block body%}
    <div class="row">
        <div class="col">
            {%for entidad in entidades%}           
            <!--Inicio unidad-->            
            <div class="email-item email-item-selected pure-g">
                <div class="pure-u-3-4">
                    <div class="email-name"><a href="/entidades/ver/{{entidad.id}}">{{entidad.nombre}}</a></div>
                    <span class="email-subject">{{entidad.tipo}}</span>            
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}       
</div> 
        

    

