{% extends "base.html" %}

{% block head %}
Detalles de Entidad
{% endblock head %}

{%block body%}          
      {%for ent in entidad%} 
        <div>
            <div class="border-bottom mb-4 pb-3 bg-body-primary">                
                <span class="fs-3">{{ent.nombre}}</span>  <span><a href="/entidades/editar/{{ent.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg></a></span>
                
            </div>
            <div class="mb-4 bg-body-primary rounded-3">    
                <div class="mb-3">
                    <span class="fs-5">Propiedades</span>
                </div>            
                <div>
                    <table class="table bg-light">
                        <thead>
                            <tr>
                            
                            <th scope="col">Atributo</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                            
                                <td>Nombre</td>
                                <td>{{ent.nombre}}</td>
                                <td><a href="#">e</a></td>
                            </tr>
                            <tr>                            
                                <td>Tipo</td>
                                <td>{{ent.tipo}}</td>
                                <td></td>
                            </tr>
                            <tr>                            
                                <td>John</td>
                                <td>Doe</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-5 bg-body-primary rounded-3">    
                <div class="mb-3">
                    <span class="fs-5">Relaciones</span>
                </div>            
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                            
                            <th scope="col">Relación</th>
                            <th scope="col">Entidad</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                            
                                <td>Nombre</td>
                                <td>{{ent.nombre}}</td>
                                <td><a href="#">e</a></td>
                            </tr>
                            <tr>                            
                                <td>Tipo</td>
                                <td>{{ent.tipo}}</td>
                                <td></td>
                            </tr>
                            <tr>                            
                                <td>John</td>
                                <td>Doe</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>     
        {% endfor %}  
       
{% endblock %}        
        


