
      <ul class="navbar-nav bg-light flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entidades">Entidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Instituciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Funciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Configuración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Salir</a>
        </li>        
      </ul>        