{% extends "base.html" %}

{% block head %}
Inicio
{% endblock head %}

{%block body%}

<div class="list-group">

{%for entidad in entidades%}           
    <!--Inicio unidad-->       
    

    <a href="/entidades/ver/{{entidad.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{entidad.nombre}}</h6>
        </div>
        <p>{{entidad.tipo}}</p>
                    
    </a>

    {% endfor %}
    </div>
{% endblock %}        
        
    

        
        <!--
    <form action="/" method="POST">
        <input type="text" name="content" id="content"/>
        <input type="submit" name="submit" value="Nueva Tarea" id="btn_add" />
    </form>
    -->



