{% extends "base.html" %}

{% block head %}
Inicio
{% endblock head %}

{%block body%}


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col mb-3">
        <h5>Recursos documentales</h5>
    </div>
    
</div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
  </div>
  <div class="col">
    <select class="form-select" aria-label="Small select example">
        <option selected disabled>Tipo</option>
        <option value="Repositorio">Repositorio</option>
        <option value="Fondo">Fondo</option>
        <option value="Seccion">Sección</option>        
        <option value="Expediente">Expediente</option>
        <option value="Documento">Documento</option>
        <option value="arte de documento">Parte de documento</option>
        </select>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary">Nuevo</button></div>
</div>
<div class="row mt-3">
    <div class="col">
    <select class="form-select" aria-label="Small select example">
        <option selected>Tipo</option>
        <option value="Repositorio">Repositorio</option>
        <option value="Fondo">Fondo</option>
        <option value="Seccion">Sección</option>        
        <option value="Expediente">Expediente</option>
        <option value="Documento">Documento</option>
        <option value="arte de documento">Parte de documento</option>
        </select>
  </div>
</div>
    
{% endblock %}


