{% extends "base.html" %} {% block head %} Inicio {% endblock head %} {%block
body%} {# Nivceles de descripción de Indias Archivo General de Indias Colección
Fondo Serie Subserie Fracción de Serie-Unidad de Instalación Sección Serie
Fracción de Serie-Unidad de Instalación 1ª División - Pueden haber más Fracción
de Serie-Unidad de Instalación Grupo de Fondos Fondo Fracción de Serie-Unidad de
Instalación Fracción de Serie-Unidad de Instalación Colección Sección #}

<div>
<h1 class="text-2xl">Instituciones</h1>
  <div class="text-end">
    <a href="/instituciones/nueva" class="btn">Nueva Institución</a>
  </div>
<table class="table mt-4">
<thead>
    <tr>
        <th>Nombre</th>
    </tr>
</thead>
<tbody>
  {% if instituciones %}
      {%for institucion in instituciones%}
            <tr>
                 <td>
                    <a href="/instituciones/ver/{{institucion.uid}}">{{institucion.nombre}}</a>
                  </td>
            </tr>
        {% endfor %}
  {% else %}
     <tr>
         <td>No hay instituciones</td>
     </tr>
  {% endif %}
</tbody>
</table>
</div>
{% endblock %}

<!--
    <form action="/" method="POST">
        <input type="text" name="content" id="content"/>
        <input type="submit" name="submit" value="Nueva Tarea" id="btn_add" />
    </form>
    -->
