{% extends "base.html" %} {% block head %} Detalles de Institución {% endblock
head %} {%block body%} 





     {%for i in institution%}
         <h1 class="text-2xl mb-3">{{i.institucion}}</h1>
         <div class="text-end">
    <a href="/instituciones/editar" class="btn">Editar Institución</a>
  </div>
         <table class="table">
         <thead>
         <tr>
       <td colspan="2">Área de Identidad </td>
    </tr>
         </thead>
         <tbody>
         <tr>

         </tr>
         <tr>
         <td>Identificador</td>
         <td >{{i.identifier}}</td>
         </tr>
           {#{  i.uid}#}
  {% endfor %} 


{% for n in names %}
    <tr><td>{{n.nametype}}</td><td>{{n.name}}</td></tr>
{% endfor %}
    </tbody>
    </table>
  {% endblock %}
</div>
